
body
  background-color: #fafafa
nav
  background-color: #ffffff
  border-bottom: 1px solid lightgrey
  .nav-link
    cursor: pointer

#searchBox, #nobookmark
  margin: 20px auto


.video-box
  width: 320px
  margin: 15px
  @media screen and (max-width: 360px)
    margin: 20px 0
  .card
    .card-img-top
      height: 240px
    .card-title
      height: 60px
      line-height: 30px
      overflow: hidden
      text-overflow: ellipsis
    .card-text
      height: 100px
      line-height: 25px
      overflow: hidden
      text-overflow: ellipsis
    .information-box
      overflow: hidden
    .btn
      display: block
      cursor: pointer
      margin-top: 10px
