
body
  background-color: #fafafa
nav
  background-color: #ffffff
  border-bottom: 1px solid lightgrey
  .navbar-brand
    cursor: pointer
    img
      height: 30px
  .nav-link
    cursor: pointer
    position: relative
  .active-tab
    color: lightgrey
    &:after
      position: absolute
      right: 6px
      bottom: -8px
      left: 6px
      height: 3px
      width: auto
      content: " "
      background-color: #e62117
      @media screen and (max-width: 991px)
        top: 6px
        right: auto
        bottom: 6px
        left: -10px
        height: auto
        width: 3px

#searchBox, #nobookmark
  margin: 20px auto


.video-box
  width: 320px
  margin: 15px
  position: relative
  @media screen and (max-width: 360px)
    margin: 20px 0
  .video-card
    box-shadow: 2px 2px 10px lightgrey
    .card-img-top
      height: 240px
    .card-title
      height: 60px
      line-height: 30px
      overflow: hidden
      text-overflow: ellipsis
    .card-text
      height: 100px
      line-height: 25px
      overflow: hidden
      text-overflow: ellipsis
    .information-box
      overflow: hidden
    .btn
      display: block
      cursor: pointer
      margin-top: 10px
  .unbookmark-box
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: rgba(0, 0, 0, 0.35)
    .pop-remove-video
      position: absolute
      width: 250px
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
    .buttons
      padding: 10px 0
      cursor: pointer
.playerBox
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(0, 0, 0, 0.85)
  z-index: 10
  .close
    color: white
    position: absolute
    top: 10px
    right: 20px
  .player-container
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    @media screen and (max-width: 576px)
      width: 100%
      padding: 0
  .player
    position: relative
    height: 0px
    padding-bottom: 56.25%
    overflow: hidden
    iframe
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      width: 100%
      height: 100%
